fastapi
uvicorn
pymupdf
chromadb
python-dotenv
requests
edge-tts
nest_asyncio
python-multipart
motor
pymongo>=4.0
cloudinary
configobj
configparser
gTTS
httplib2
nipype
pandas
pyxnat
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
google-auth
email-validator
# Redis
redis>=5.0.0
# Email (SMTP)
resend
# Optional but recommended
certifi


