fastapi
uvicorn
pymupdf
sentence-transformers
chromadb
python-dotenv
requests
edge-tts
nest_asyncio
python-multipart
motor
pymongo>=4.0
cloudinary
configobj
configparser
gTTS
httplib2
nipype
pandas
pyxnat
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
google-auth
email-validator

# 🔥 CPU-only PyTorch (NO CUDA)
torch --index-url https://download.pytorch.org/whl/cpu
